<h2 mat-dialog-title>Créer Driver</h2>
<mat-dialog-content class="dialog-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-form-grid">

        <mat-form-field appearance="outline">
            <mat-label>Civilité</mat-label>
            <mat-select formControlName="civilite">
                @for (civilite of civilites; track civilite) {
                    <mat-option [value]="civilite">
                        {{ civilite }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" placeholder="Nom">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="prenom" placeholder="Prénom">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Téléphone Mobile</mat-label>
            <input matInput formControlName="mobilePhoneNumber" placeholder="Téléphone Mobile">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Worked Days</mat-label>
            <input matInput formControlName="workedDays" placeholder="Worked Days">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Numéro de permis</mat-label>
            <input matInput formControlName="licenseNumber" placeholder="Numéro de permis">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date d'expiration du permis</mat-label>
            <input matInput [matDatepicker]="licensePicker" formControlName="licenseExpirationDate" placeholder="Date d'expiration du permis">
            <mat-datepicker-toggle matIconSuffix [for]="licensePicker"></mat-datepicker-toggle>
            <mat-datepicker #licensePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date d'embauche</mat-label>
            <input matInput [matDatepicker]="hireDatePicker" formControlName="hireDate" placeholder="Date d'embauche">
            <mat-datepicker-toggle matIconSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #hireDatePicker></mat-datepicker>
        </mat-form-field>
        

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresse" placeholder="Adresse">
        </mat-form-field>


        <mat-dialog-actions align="end">
            <button mat-button (click)="onClose()">Annuler</button>
            <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
                Save
            </button>
        </mat-dialog-actions>

    </form>
</mat-dialog-content>
