.footer {
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;

  background: white;

  border-top: 1px solid #e5e7eb;

  color: #6b7280;

  font-size: 14px;

  margin-top: auto;
}

/*  LEFT  */
.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.app-name {
  font-weight: 600;
  color: #111827;
}

.separator {
  opacity: 0.5;
}

/*  CENTER  */
.footer-center {
  text-align: center;
}

/*  RIGHT */
.footer-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-right a {
  text-decoration: none;

  color: #6b7280;

  transition: color 0.2s ease;
}

.footer-right a:hover {
  color: #2563eb;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;

    height: auto;

    gap: 12px;

    padding: 16px;

    text-align: center;
  }

  .footer-right,
  .footer-left {
    justify-content: center;
    flex-wrap: wrap;
  }
}
