<header class="page-header">

    <div class="page-header__identity">

        @if (icon()) {
            <div class="page-header__icon">
                <mat-icon>{{ icon() }}</mat-icon>
            </div>
        }

        <div class="page-header__text">

            <h1>{{ title() }}</h1>

            @if (description()) {
                <p>{{ description() }}</p>
            }
        </div>

    </div>

    <div class="page-header__actions">
        <ng-content select="[sfPageHeaderActions]"/>
    </div>
</header>