<div class="alert-widget">

  <!--  HEADER  -->
  <div class="widget-header">
    <h2>Live Alerts</h2>
    <span class="counter">{{ notifications.length }}</span>
  </div>

  <!--  EMPTY -->
  @if (notifications.length === 0) {
    <div class="empty-state">
      <mat-icon>notification_off</mat-icon>
      <span>No alerts available</span>
    </div>
  }

  <!--  LIST  -->
  @for (notification of notifications; track notification.message) {
    <div class="alert-card"
         [class.info]="notification.severity === 'INFO'"
         [class.success]="notification.severity === 'SUCCESS'"
         [class.warning]="notification.severity === 'WARNING'"
         [class.error]="notification.severity === 'ERROR'">
      <!--  ICON  -->
      <div class="alert-icon">
        <mat-icon>{{ notification.severity }}</mat-icon>
      </div>

      <!--  CONTENT -->
      <div class="alert-content">
        <div class="alert-type">{{ notification.severity }}</div>
        <div class="alert-message">{{ notification.message }}</div>
      </div>
    </div>

  }

</div>
