<h2 mat-dialog-title>{{ data.mode === 'CREATE' ? 'Ajouter une affectation' : 'Modifier affectation' }}</h2>

<mat-dialog-content class="dialog-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-form-grid">
        <mat-form-field appearance="outline">
            <mat-label>Chauffeur</mat-label>
            <mat-select formControlName="driverId">
                @for (driver of drivers; track driver.id) {
                    <mat-option [value]="driver.id">
                        {{ driver.nom }} {{ driver.prenom }}

                        @if (isDriverAlreadyAssigned(driver.id)) {
                            <!-- <span class="assigned-label"> (Déjà affecté)</span> -->
                             - Déjà affecté
                        }
                    </mat-option>
                }
                
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Vehicule</mat-label>
            <mat-select formControlName="vehicleId">
                @for (vehicle of vehicles; track vehicle.id) {
                    <mat-option [value]="vehicle.id">
                        {{ vehicle.brand }} {{ vehicle.model }} {{ vehicle.year }} {{ vehicle.fuelType }} ({{ vehicle.vin === null ? vehicle.registrationNumber : vehicle.vin }})
                        @if (isVehicleAlreadyAssigned(vehicle.id)) {
                            <!-- <span class="assigned-label"> (Déjà affecté)</span> -->
                             - Déjà affecté
                        }
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                @for (type of assignmentTypes; track type) {
                    <mat-option [value]="type">
                        {{ type }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="data.mode === 'EDIT'">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                @for (status of assignmentStatuses; track status) {
                    <mat-option [value]="status">
                        {{ status }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date début</mat-label>

            <input matInput [matDatepicker]="startPicker" formControlName="startDate">
            <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date fin</mat-label>

            <input matInput [matDatepicker]="endPicker" formControlName="endDate">
            <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput formControlName="reason" placeholder="Raison">
        </mat-form-field>

        <mat-dialog-actions align="end">
            <button mat-button type="button" (click)="onClose()">Annuler</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                {{ data.mode === 'CREATE' ? 'Ajouter' : 'Modifier' }}
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>