<div class="dashboard-grid">
  <app-alerts-widget
    [notifications]="notifications">
  </app-alerts-widget>
</div>
<h1>Analytics Dashboard</h1>
<div class="cards">
  <div class="card">
    <h2>{{ analytics?.totalDrivers }}</h2>
    <p>Drivers</p>
  </div>

  <div class="card">
    <h2>{{ analytics?.totalVehicles }}</h2>
    <p>Vehicles</p>
  </div>

  <div class="card">
    <h2>{{ analytics?.averageScore }}</h2>
    <p>Average IA Score</p>
  </div>
</div>

<div class="chart-container">
  <canvas
    baseChart
    [data]="{
      labels: chartLabels,
      datasets: [{
        data: chartData,
        label: 'Wordked Days'
       }]
      }"
    [type]="'bar'">
  </canvas>
</div>
