<h2 mat-dialog-title>Créer vehicle</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="form" class="create-form-grid">

    <mat-form-field appearance="outline">
      <input matInput formControlName="brand" placeholder="Brand">
      @if (f.brand.touched && f.brand.invalid) {
        <mat-error>Champ Obligatoire</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="model" placeholder="Modèle">
      @if (f.model.touched && f.model.invalid) {
        <mat-error>Champ Obligatoire</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="fuelType" placeholder="Fuel Type">
      @if (f.fuelType.touched && f.fuelType.invalid) {
        <mat-error>Champ Obligatoire</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="year" placeholder="Année Fabrication">
      @if (f.year.touched && f.year.invalid) {
        <mat-error>Champ Obligatoire</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="vin" placeholder="Immatriculation">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="registrationNumber" placeholder="Matricule Véhicule">
      @if (f.registrationNumber.touched && f.registrationNumber.invalid) {
        <mat-error>Champ Obligatoire</mat-error>
      }
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button (click)="cancel()">Annuler</button>
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
